@import "../base.scss";

.text-overlay {
  position: absolute;
  margin-left: $scale-p0;
  margin-top: $scale-p2;
}

.box-l {
  height: 175px;
  margin-top: $scale-p0;
  margin-right: 9px;
  margin-bottom: $scale-p0;
  background-color: #e0e0e0;
}

.box-r {
  height: 175px;
  margin-top: $scale-p0;
  margin-left: 9px;
  margin-bottom: $scale-p0;
  background-color: #e0e0e0;
}
