.skill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill-badge {
    background-color: #00449e;
    color: #fff;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
    margin-top: 18px;
    border: 1px solid transparent;
}

.skill-badge:hover {
    border: 1px solid #001b44;
    transition: border .2s ease-out;
    box-shadow: 1px 1px 3px #ccc;
    transition: box-shadow .2s ease-out;
}
