.skill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill-badge {
    background-color: #cdecff;
    border-radius: 4px;
    padding: 8px;
    margin-right: 8px;
    margin-top: 18px;
    border: 1px solid transparent;
}

.skill-badge:hover {
    border: 1px solid #96ccff;
    transition: border .2s ease-out;
    box-shadow: 1px 1px 3px #ccc;
    transition: box-shadow .2s ease-out;
}