@import "../foundation/color.scss";

.module {
  height: 150px;
  color: #fff;
  background-color: $color-primary;
  background: linear-gradient(#4c9aff, $color-primary);
}

.module h1 {
  font-size: 2.75rem;
  margin-bottom: 0;
}
