@import "normalize.scss";
@import "./foundation/color.scss";
@import "./foundation/scale.scss";
@import "./foundation/typography.scss";

body {
  background: white;
  font-family: $font-stack;
}

a {
  text-decoration: none;
  color: rgb(67, 102, 153);
}

a:hover {
  text-decoration: underline;
  color: #000;
}
