@import "../../base.scss";

.text-overlay {
  position: absolute;
  font-size: $font-size-display;
  margin-left: 32px;
  margin-top: 24px;
  color: #fff;
  z-index: 100;
  cursor: pointer;
}

.box-l {
  max-width: 95%;
  height: auto;
  display:block;
  margin-top: $scale-p0;
  margin-bottom: $scale-p0;
  border-radius: $scale-m5;
  border: 8px solid transparent;
  outline: 1px solid rgba(0,0,0,.1);
  img {
    max-width: 100%;
    height: 100%;
  }
}

.box-r {
  max-width: 95%;
  height: auto;
  display:block;
  margin-top: $scale-p0;
  margin-bottom: $scale-p0;
  border-radius: $scale-m5;
  border: 8px solid transparent;
  outline: 1px solid rgba(0,0,0,.1);
  img {
    max-width: 100%;
    height: 100%;
  }
}

// Effects
.disable-text-on:hover {
  h4 {
    display: none;
  }
}

.box-l:hover {
  box-shadow: 2px 1px 3px #ccc;
  transition: box-shadow .2s ease-out;
}

.box-r:hover {
  box-shadow: 2px 1px 3px #ccc;
  transition: box-shadow .2s ease-out;  
}

@media (max-width: 500px) {
  .text-overlay {
    font-size: $font-size-heading;
  }
}
